.dashboard-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.dashboard-container > div {
	width: 100%;
	height: 94%;
	display: flex;
}

.dashboard-container > div > main {
    padding: 1rem;
    overflow: auto;
    width: 100%;
}

.dashboard-container .home-page {
    display: flex;
    flex-direction: column;
}

.dashboard-container .home-page .movies {
    display: flex;
    flex-wrap: wrap;
}

.dashboard-container .home-page .load-more {
    align-self: center;
}

.personal-movies > h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-size: bolder;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    width: fit-content;
    border-bottom: 5px solid #E31C25;
}
